<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %t %-5l - %m%n"/>
        </Console>
        <File name="File" fileName="C:/Users/svyat/IdeaProjects/taxi-service/logs/application.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p %t %-5l - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="taxi" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </Root>
    </Loggers>
</configuration>
